<% include ../../header %>
<div class="row" style="width:100%;">
	<div class="col-md-2">
		<div class="panel panel-white">
			<div class="panel-heading">
				<div class="panel-title text-semibold">
					<i class="icon-plus-circle2 text-size-base position-left"></i>
					Quick add
				</div>
			</div>

			<div class="panel-body">
                <form method="post" action="/hotel/events/actions/create">
                    <div class="form-group">
                        <div class="has-feedback has-feedback-left">
                            <input name="title" type="text" class="form-control" placeholder="Event title">
                            <div class="form-control-feedback">
                                <i class="icon-reading text-size-large text-muted"></i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="has-feedback has-feedback-left">
                            <input name="days" type="text" class="form-control" placeholder="How many days">
                            <div class="form-control-feedback">
                                <i class="icon-calendar2 text-size-large text-muted"></i>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn bg-blue btn-block">
                        <i class="icon-search4 text-size-base position-left"></i>
                        Create Event
                    </button>
                </form>
			</div>
		</div>
	</div>
	<div class="col-lg-10">
		<div class="content-detached" style="float:right;">
			<ul class="media-list content-group">
                <% events.forEach((event) => { %>
                    <li class="media panel panel-body stack-media-on-mobile">
                        <div class="media-left">
                            <a href="/hotel/events/view/<%= event.id %>">
                                <img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=<%= event.author.look %>&headonly=1" style="width:54px;height:62px;">
                            </a>
                        </div>

                        <div class="media-body">
                            <h6 class="media-heading text-semibold">
                                <a href="/hotel/events/view/<%= event.id %>"><%= event.title %></a>
                            </h6>

                            <ul class="list-inline list-inline-separate text-muted mb-10">
                                <li><a href="/hotel/events/view/<%= event.id %>" class="text-muted">Started <%= event.starts_at_longAgo %> </a></li>
                            </ul>
                        </div>

                        <div class="media-right text-nowrap">
                            <% if (event.ends_at_longAgo.indexOf('in') > -1) { %>
                                <% if (event.ends_at_longAgo.indexOf('hours') > -1 || event.ends_at_longAgo.indexOf('minutes') > -1 || event.ends_at_longAgo.indexOf('seconds') > -1) { %>
                                    <span class="label bg-danger">Ends <%= event.ends_at_longAgo %></span>
                                <% } else { %>
                                    <span class="label bg-green">Ends <%= event.ends_at_longAgo %></span>
                                <% } %>
                            <% } else { %>
                                <span class="text-muted">Ended <%= event.ends_at_longAgo %></span>
                            <% } %>
                        </div>
                    </li>
                <% }); %>
			</ul>
		</div>
	</div>
</div>