<% include ../../header %>
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Ssearch results<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
    </div>

    <div class="panel-body">
        <form method="post" class="main-search">
            <div class="input-group content-group">
                <div class="has-feedback has-feedback-left">
                    <input name="query" value="<%= query %>" type="text" class="form-control input-xlg">
                    <div class="form-control-feedback">
                        <i class="icon-search4 text-muted text-size-base"></i>
                    </div>
                </div>

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-xlg">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="content-group">
    <p class="text-muted text-size-small content-group">About <%= users.length %> Results</p>
    <div class="search-results-list">
        <div class="row">
          <% users.forEach(player => { %>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="thumb thumb-rounded">
                        <center>
                          <img src="https://www.habbo.com.br/habbo-imaging/avatarimage?headonly=1&figure=<%= player.look %>" style="width:54px;height:64px;">
                        </center>
                        <div class="caption-overflow">
                        <span>
													<a href="/emu/users/view/<%= player.id %>" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5"><i class="icon-link2"></i></a>
												</span>
                      </div>
                    </div>

                    <div class="caption text-center">
                        <h6 class="text-semibold no-margin"><%= player.username %> <small class="display-block"><%= player.rank.name %></small></h6>
                    </div>
                </div>
            </div>
          <% }); %>

        </div>
    </div>
</div>
