<% include ./modules/navi %>
            <div class="row droplet-header">
                <div class="small-12 columns">
                    <ul role="tablist" class="Tabs u-mb-4 droplet-tabs">
                        <li class="is-active"> <a> Members </a> </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <table class="droplet-listing">
                        <thead>
                            <tr>
                                <th> <span class="headerText"> Title </span> </th>
                                <th> <span class="headerText"> Purpose </span> </th>
                                <th> <span class="headerText"> Manage </span> </th>
                            </tr>
                        </thead>
                        <tbody>
                          <% groups.forEach(g => { %>
                            <tr class="done">
                                <td class="name">
                                    <a href="/admin/groups/edit/<%= g.id %>">
                                        <div class="ellipsis-text">
                                            <div class="Resource    Resource--rightContext">
                                                <div class="Resource-image ">
                                                    <div class="resource-icon droplet"> <img src="<%= g.avatar %>"> </div>
                                                </div>
                                                <div class="Resource-meta  ">
                                                    <div role="button" class="Resource-title"><%= g.title %> </div>
                                                    <div class="Resource-description"> <%= g.members.length %> members </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="statusIndicator new  hasBg">
                                    </div>
                                    <div class="status-spinner-bg"></div>
                                </td>
                                <td> :)  </td>
                                <td>
                                  <a href="/admin/groups/edit/<%= g.id %>"> <i class="fa fa-pencil"></i> </a>
                                  <a href="/admin/groups/delete/<%= g.ide %>" style="margin-left:10%;"> <i class="fa fa-trash"></i> </a>
                                </td>
                            </tr>
                          <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>


</div>
