<% include ./modules/navi %>

<% if (accounts.length > 0) { %>
  <div class="row droplet-header">
      <div class="small-12 columns">
          <ul role="tablist" class="Tabs u-mb-4 droplet-tabs">
              <li class="is-active"> <a> Members </a> </li>
          </ul>
      </div>
  </div>
  <div class="row">
      <div class="small-12 columns">
          <table class="droplet-listing">
              <thead>
                  <tr>
                      <th class="aurora-th name sortable"> <span class="headerText"> Username </span> </th>
                      <th class="aurora-th name sortable"> <span class="headerText"> Actions Completed </span> </th>
                      <th class="aurora-th name sortable"> <span class="headerText"> Last Active </span> </th>
                      <th class="aurora-th name sortable"> <span class="headerText"> Manage</span> </th>
                  </tr>
              </thead>
              <tbody>
                <% accounts.forEach(u => { %>
                  <tr class="done">
                      <td class="name">
                          <a href="/admin/accounts/edit/<%= u.username %>">
                              <div class="ellipsis-text">
                                  <div class="Resource    Resource--rightContext">
                                      <div class="Resource-image ">
                                          <div class="resource-icon droplet"> <img src="<%= u.avatar %>"> </div>
                                      </div>
                                      <div class="Resource-meta  ">
                                          <div role="button" class="Resource-title"><%= u.username %> </div>
                                          <div class="Resource-description"> <%= u.group.title %> </div>
                                      </div>
                                  </div>
                              </div>
                          </a>
                          <div class="statusIndicator new  hasBg">
                          </div>
                          <div class="status-spinner-bg"></div>
                      </td>
                      <td class="ip"> 0 </td>
                      <td> Just Now </td>
                      <td> <a href="/admin/accounts/edit/<%= u.username %>"> <i class="fa fa-pencil"></i> </a> </td>
                  </tr>
                <% }) %>
              </tbody>
          </table>
      </div>
  </div>
<% } else { %>
  <div class="row">
    <div class="small-12 columns">
        <section class="EmptyState u-clear Box u-mt-4">
          <img src="https://cloud-cdn-digitalocean-com.global.ssl.fastly.net/aurora/assets/images/empty-state-droplet-730f40cbf66ce598b3a6751812f902fd.svg" alt="Empty droplets" class="EmptyState-image">
          <h3>Looks like you don’t have any locked accounts.</h3>
          <p>However, if you need to lock a staff member out; feel free to do so below.</p>
          <form method="post" class="domains-create-domain-form">
              <div class="form--inline ">
                  <div class="createDomain--input ">
                    <input name="username" type="text" placeholder="Username" class="Input--floatLabel FloatLabel-input">
                  </div>
                  <div>
                      <button class="Button Button--blue Button--large Button--fullWidth save-btn">Suspend</button>
                  </div>
              </div>
          </form>
    </div>
  </section>
</div>
<% } %>
