<% include ./modules/navi %>
            <div class="row droplet-header">
                <div class="small-12 columns">
                    <ul role="tablist" class="Tabs u-mb-4 droplet-tabs">
                        <li class="is-active"> <a> Members </a> </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <table class="droplet-listing">
                        <thead>
                            <tr>
                                <th> <span class="headerText"> Username </span> </th>
                                <th> <span class="headerText"> Status </span> </th>
                                <th> <span class="headerText"> Actions Completed </span> </th>
                                <th> <span class="headerText"> Last Active </span> </th>
                                <th> <span class="headerText"> Manage </span> </th>
                            </tr>
                        </thead>
                        <tbody>
                          <% accounts.forEach(u => { %>
                            <tr class="done">
                                <td class="name">
                                    <a href="/admin/accounts/edit/<%= u.username %>">
                                        <div class="ellipsis-text">
                                            <div class="Resource    Resource--rightContext">
                                                <div class="Resource-image ">
                                                    <div class="resource-icon droplet"> <img src="<%= u.avatar %>"> </div>
                                                </div>
                                                <div class="Resource-meta  ">
                                                    <div role="button" class="Resource-title"><%= u.username %> </div>
                                                    <div class="Resource-description"> <%= u.group.title %> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="statusIndicator new  hasBg">
                                    </div>
                                    <div class="status-spinner-bg"></div>
                                </td>
                                <td> <%= u.status %> </td>
                                <td class="ip"> 0 </td>
                                <td> Just Now </td>
                                <td>
                                  <a href="/admin/accounts/edit/<%= u.username %>"> <i class="fa fa-pencil"></i> </a>
                                  <a href="/admin/accounts/delete/<%= u.username %>" style="margin-left:25%;"> <i class="fa fa-trash"></i> </a>
                                </td>
                            </tr>
                          <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>


</div>
