<% include ../header %>


<div class="aurora-body">
  <div class="row">
      <div class="columns small-12">
          <h1>Hotel Management</h1>
      </div>
  </div>
  <div class="row">
    <div class="columns small-2">
      <nav class="SideNav settings-side-nav js-settings-side-nav">
        <h3>
          <div>
            <div class="avatarWrapper ">
              <span class="context-avatar context-avatar-tiny" style="margin-left:15%;">
                <img src="<%= user.avatar %>" class="avatar-tiny">
              </span>
            </div>
          </div>
          <div class="ellipsis-text" style="margin-left:15%;">  <%= user.username %> </div>
        </h3>
        <ul class="List--noBullets">
          <br>
          <li> <a role="button" href="" class="navLink active">Features</a> </li>
          <li> <a role="button" href="/hotel/accounts" class="navLink">Manage Users</a> </li>
          <li> <a role="button" href="/hotel/groups" class="navLink">Permission Groups</a> </li>
          <br>
          <li> <a role="button" href="" class="navLink active">Other Tools</a> </li>
          <li> <a role="button" href="/hotel/catalog" class="navLink">Catalog Editor</a> </li>
      </ul>
      </nav>

        </div>
        <div class="columns small-10 settings">
            <div class="settings-profile">
                <div class="row u-mb-6">
                    <div class="small-12 columns">
                        <div class="Box">
                            <div class="row">
                                <div class="small-2 columns">
                                    <div id="ember1426" class="ember-view">
                                        <div class="avatarWrapper  ">
                                            <div class="avatar avatar-overlay"></div>
                                            <img src="<%= user.avatar %>" class="avatar">
                                        </div>
                                    </div>
                                </div>
                                <div class="small-7 columns">
                                    <h2 class="username"> <%= user.name %> <small>(<%= user.group.title %>)</small></h2>
                                    <ul class="List--noBullets">
                                        <li><%= user.email %></li>
                                        <li>Member since <%= user.account_length %></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
