<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= settings.short_branding %> - Locked</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/minified/core.min.css" rel="stylesheet" type="text/css">
    <link href="/css/minified/components.min.css" rel="stylesheet" type="text/css">
    <link href="/css/minified/colors.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/core/app.js"></script>

</head>

<body data-spy="scroll" data-target=".sidebar-detached" class="has-detached-right" style="overflow-x:hidden;">
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand"><i class="icon icon-fire" style="margin-right:6px;"></i> <%= settings.branding %></a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-mobile">

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">

                    <img src="https://www.habbo.com.br/habbo-imaging/avatarimage?headonly=1&figure=<%= user.habbo.look %>">
                    <span><%= user.full_name %></span>
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a data-toggle="modal" data-target="#quick_settings"><i class="icon-user-plus"></i> My profile</a></li>
                    <li class="divider"></li>
                    <li><a href="/dashboard/settings"><i class="icon-cog5"></i> Account settings</a></li>
                    <li><a href="/logout"><i class="icon-switch2"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="page-container">
    <div class="page-content">
        <div class="sidebar sidebar-main">
            <div class="sidebar-content">
                <div class="sidebar-user">
                    <div class="category-content">
                        <div class="media">
                            <a href="#" class="media-left"><img src="https://www.habbo.com.br/habbo-imaging/avatarimage?headonly=1&figure=<%= user.habbo.look %>" style="height:54px;width:54px;"></a>
                            <div class="media-body">
                                <span class="media-heading text-semibold"><%= user.full_name %></span>
                                <div class="text-size-mini text-muted">
                                    <i class="icon-shield2 text-size-small"></i> &nbsp; <%= user.group.name %>
                                </div>
                            </div>
                            <div class="media-right media-middle">
          									<ul class="icons-list">
          										<li>
          											<a href="/account/settings"><i class="icon-cog3"></i></a>
          										</li>
          									</ul>
          								</div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">
                            <!-- Quick Links -->
                            <li class="navigation-header"><span> Quick Links </span> </li>
                            <li> <a href="/dashboard"> <i class="icon-home"></i> <span> Dashboard </span> </a> </li>
                            <li> <a href="/admin/forums"> <i class="icon-newspaper2"></i> <span>  Staff Discussion </span> </a> </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- Main content -->
        <div class="content-wrapper">
            <div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold"><%= settings.branding %></span></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="panel panel-body">
                        <div class="media no-margin stack-media-on-mobile">
                            <div class="media-left media-middle">
                                <i class="icon-lifebuoy icon-3x text-muted no-edge-top"></i>
                            </div>

                            <div class="media-body">
                                <h6 class="media-heading text-semibold">Account Locked</h6>
                                <span class="text-muted">Your account has been suspended until further notice.</span>
                            </div>

                            <div class="media-right media-middle">
                                <a href="/dashboard" class="btn btn-primary">Try Again</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
