<% include ../header %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h5 class="panel-title">Administration Errors</h5>
      </div>
      <% if (errors.length > 0) { %>}=
        <div class="table">
          <table class="table">
            <thead>
              <tr>
                <th style="width:5%;">#</th>
                <th>Error</th>
                <th>Time</th>
                <th class="text-center">Tools</th>
              </tr>
            </thead>
            <tbody>
              <% errors.forEach(e => { %>
                <tr>
                  <td><%= e.id %></td>
                  <td><%= e.content %></td>
                  <td><%= e.created_at %></td>
                  <td class="text-center">
                    <ul class="icons-list">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a data-target="#<%= e.id %>" data-toggle="modal"><i class="icon-pencil"></i> View More</a></li>
                          <li><a href="/admin/errors/delete/<%= e.id %>"><i class="icon-trash text-danger"></i> Remove From Logs</a></li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      <% } else { %>
        <div class="panel-body">
          <p>There are no errors to report!</p>
        </div>
      <% } %>
    </div>
