<% include ./modules/navi %>
            <div class="row droplet-header">
                <div class="small-12 columns">
                    <ul role="tablist" class="Tabs u-mb-4 droplet-tabs">
                        <li class="is-active"> <a> Members </a> </li>
                        <li> <a>  <%= accounts.length %> users found  </a> </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <table class="droplet-listing">
                        <thead>
                            <tr>
                                <th> <span class="headerText"> Username </span> </th>
                                <th> <span class="headerText"> Currency </span> </th>
                                <th> <span class="headerText"> Last Active </span> </th>
                                <th> <span class="headerText"> Manage </span> </th>
                            </tr>
                        </thead>
                        <tbody>
                          <% accounts.forEach(u => { %>
                            <tr class="done">
                                <td class="name">
                                    <a href="/admin/accounts/edit/<%= u.username %>">
                                        <div class="ellipsis-text">
                                            <div class="Resource    Resource--rightContext">
                                                <div class="Resource-image ">
                                                  <div> <img src="<%= website.habbo_imager %>?figure=<%= u.look %>&headonly=1"> </div>
                                                </div>
                                                <div class="Resource-meta  ">
                                                    <div role="button" class="Resource-title"><%= u.username %> </div>
                                                    <div class="Resource-description"> <%= u.group.name %> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <% if (u.online == 1) { %>
                                      <div class="statusIndicator new  hasBg"> </div>
                                      <div class="status-spinner-bg"></div>
                                    <% } %>

                                </td>
                                <td>
                                  <div class="Resource    Resource--rightContext">
                                      <div class="Resource-meta  ">
                                          <div role="button" class="Resource-title"> <img src="https://i.imgur.com/NPOGUzH.png"> <%= u.credits %> </div>
                                          <div class="Resource-description"> <img src="https://i.imgur.com/QyCbKkL.png"> <%= u.vip_points %> </div>
                                      </div>
                                  </div>
                                </td>
                                <td> <%= u.last_online %> </td>
                                <td>
                                  <a href="/hotel/accounts/edit/<%= u.username %>"> <i class="fa fa-pencil"></i> </a>
                                  <a href="/hotel/accounts/delete/<%= u.username %>" style="margin-left:25%;"> <i class="fa fa-trash"></i> </a>
                                </td>
                            </tr>
                          <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>


</div>
