<% include ./modules/navi %>
            <div class="settings-profile">
                <div class="row u-mb-6">
                    <div class="small-12 columns">
                        <div class="Box">
                            <div class="row">
                                <div class="small-2 columns">
                                    <div id="ember1426" class="ember-view">
                                        <div class="avatarWrapper  ">
                                            <div class="avatar avatar-overlay"></div>
                                            <img src="<%= user.avatar %>" class="avatar">
                                        </div>
                                    </div>
                                </div>
                                <div class="small-7 columns">
                                    <h2 class="username"> <%= user.name %> <small>(<%= user.group.title %>)</small></h2>
                                    <ul class="List--noBullets">
                                        <li><%= user.email %></li>
                                        <li>Staff Member since <%= user.account_length %></li>
                                        <% if (user.security == 'single') { %>
                                          <li> <a href="/settings/security" class="ember-view"> Enable two-factor authentication </a> </li>
                                        <% } %>
                                    </ul>
                                </div>
                                <div class="small-3 columns">
                                    <a href="/settings/profile" class="Button u-floatRight ember-view">Edit Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
