<% include ./modules/navi %>

<% if (account) { %>
  <div class="settings-profile">
      <div class="row u-mb-6">
          <div class="small-12 columns">
              <div class="Box">
                  <div class="row">
                      <div class="small-2 columns">
                          <div id="ember1426" class="ember-view">
                              <div class="avatarWrapper  ">
                                  <div class="avatar avatar-overlay"></div>
                                  <img src="<%= user.avatar %>" class="avatar">
                              </div>
                          </div>
                      </div>
                      <div class="small-7 columns">
                          <h2 class="username"> <%= user.name %> <small>(<%= user.group.title %>)</small></h2>
                          <ul class="List--noBullets">
                              <li><%= user.email %></li>
                              <li>Staff Member since <%= user.account_length %></li>
                              <% if (user.security == 'single') { %>
                                <li> <a href="/settings/security" class="ember-view"> Enable two-factor authentication </a> </li>
                              <% } %>
                          </ul>
                      </div>
                      <div class="small-3 columns">
                          <a href="/settings/profile" class="Button u-floatRight ember-view">Edit Profile</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="Box u-mb-5">
      <h2>My Medals</h2>
      <p>I haven't completed any medals yet!</p>
    </div>
<% } else { %>
  <div class="row">
    <div class="small-12 columns">
        <section class="EmptyState u-clear Box u-mt-4">
          <img src="https://cloud-cdn-digitalocean-com.global.ssl.fastly.net/aurora/assets/images/empty-state-droplet-730f40cbf66ce598b3a6751812f902fd.svg" alt="Empty droplets" class="EmptyState-image">
          <h3>Looks like that user doesn't exist</h3>
          <p>However, we looked for similar results and placed them below.</p>
        </section>
      </div>
    </div>
  <div class="u-mb-5">
      <h2>Search Results</h2>
      <table class="referrals-stats-table">
        <tbody>
          <% if (results.length > 0) { %>
            <% results.forEach(r => { %>
              <tr class="done">
                  <td class="name">
                      <a href="/profile/<%= r.username %>">
                          <div class="ellipsis-text">
                              <div class="Resource    Resource--rightContext">
                                  <div class="Resource-image ">
                                      <div class="resource-icon droplet"> <img src="<%= r.avatar %>"> </div>
                                  </div>
                                  <div class="Resource-meta  ">
                                      <div role="button" class="Resource-title"><%= r.username %> </div>
                                      <div class="Resource-description"> <%= r.group.title %> </div>
                                  </div>
                              </div>
                          </div>
                      </a>
                      <div class="statusIndicator new  hasBg">
                      </div>
                      <div class="status-spinner-bg"></div>
                  </td>
              </tr>
              <% }) %>
            <% } else { %>
              <tr>
                <td><h4 class="u-mb-0">Oh no..</h4></td>
                <td>We couldn't find any similar users</td>
              </tr>
            <% } %>
        </tbody>
      </table>
    </div>
<% } %>
