<% include ../../header %>

<div class="row">
    <div class="col-md-4 col-lg-3">
        <div class="profile-detail card-box">
            <div>
                <img src="<%= account.avatar %>" class="img-circle" alt="profile-image">

                <ul class="list-inline status-list m-t-20">
                    <li>
                        <h3 class="text-primary m-b-5"><%= account.status.length %></h3>
                        <p class="text-muted">Posts</p>
                    </li>

                    <li>
                        <h3 class="text-success m-b-5"><%= account.friends.length %></h3>
                        <p class="text-muted">Followers</p>
                    </li>
                </ul>


                <% if (account.id != user.id ) { %>
                  <button type="button" class="btn btn-pink btn-custom btn-rounded waves-effect waves-light">Follow</button>
                <% } %>
                <hr>
                <h4 class="text-uppercase font-600">About Me</h4>
                <p class="text-muted font-13 m-b-30"><%= account.about %></p>

                <div class="text-left">
                    <p class="text-muted font-16">
                      <strong>Name :</strong>
                      <br>
                      <span class="m-l-15"><%= account.name %></span>
                    </p>


                    <p class="text-muted font-16">
                      <strong>Email :</strong>
                      <br>
                      <span class="m-l-15"><%= account.email %></span>
                    </p>

                    <p class="text-muted font-13">
                      <strong>Location :</strong>
                      <br>
                      <span class="m-l-15"><%= account.location %></span>
                    </p>

                </div>
            </div>

        </div>

        <div class="card-box">
            <h4 class="m-t-0 m-b-20 header-title"><b>Friends <span class="text-muted">(<%= account.friends.length %>)</span></b></h4>

            <div class="friend-list">
              <% account.friends.slice(0, 7).forEach(f => { %>
                <a href="/profile/<%= f.b.username %>">
                    <img src="<%= f.b.avatar %>" class="img-circle thumb-md" alt="friend">
                </a>
              <% }) %>

              <% if (account.friends.length > 7) { %>
                <a href="/profile/<%= account.username %>/friends" class="text-center">
                  <span class="extra-number">+<%= account.friends.length-7 %></span>
                </a>
              <% } %>
            </div>
        </div>
    </div>


    <div class="col-lg-9 col-md-8">
      <% if (account.id == user.id) { %>
        <form method="post" class="well" action="/profile/posts/create">
            <span class="input-icon icon-right">
              <textarea name="status" rows="2" class="form-control" placeholder="Post a new message"></textarea>
            </span>
            <div class="p-t-10 pull-right">
                <button type="submit" class="btn btn-sm btn-primary waves-effect waves-light">Send</button>
            </div>
            <ul class="nav nav-pills profile-pills m-t-10">
                <li>
                    <a href="#"><i class="fa fa-user"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-location-arrow"></i></a>
                </li>
                <li>
                    <a href="#"><i class=" fa fa-camera"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-smile-o"></i></a>
                </li>
            </ul>
        </form>
        <% } %>

        <% if (account.status.length > 0) { %>
          <div class="card-box">
            <% account.status.forEach(s => { %>
              <div class="comment">
                  <img src="<%= account.avatar %>" class="comment-avatar">
                  <div class="comment-body">
                      <div class="comment-text">
                          <div class="comment-header">
                              <a href="#"><%= account.name %> </a><span>about 2 minutes ago</span>
                          </div>
                          <%= s.status %>

                      </div>

                      <div class="comment-footer">
                          <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                          <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                          <a href="#">Reply</a>
                      </div>
                  </div>
                </div>
                <% }) %>
              </div>
          <% } %>
    </div>

</div>

<% include ../../footer %>
