<div id="view_word_<%= word.id %>" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5 class="modal-title"><i class="icon-menu7"></i> &nbsp;<%= word.word %></b></h5>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" method="post" action="/emu/customize/wordfilter/edit">
            <fieldset class="content-user">
              <legend class="text-bold">Quick Information</legend>

              <div class="form-group has-feedback has-feedback-left">
                <label>Triggering Word</label>
                <input type="hidden" name="id" value="<%= word.id %>">
                <input type="hidden" name="origin" value="<%= word.word %>">
                <input type="text" class="form-control input-xlg" name="word" value="<%= word.word %>">
                <div class="form-control-feedback">
                  <i class="icon-warning22"></i>
                </div>
              </div>

              <div class="form-group has-feedback has-feedback-left">
                <label>Replacement Text</label>
                <input type="text" class="form-control input-xlg" name="replacement" value="<%= word.replacement %>">
                <div class="form-control-feedback">
                  <i class="icon-spell-check2"></i>
                </div>
              </div>

              <div class="form-group has-feedback has-feedback-left">
                <label>Bannable</label>
                <select name="bannable" class="form-control">
                  <% if (word.bannable == 1) { %>
                    <option value="1" selected="">True</option>
                    <option value="0">False</option>
                  <% } else { %>
                    <option value="1">True</option>
                    <option value="0" selected="">False</option>
                  <% } %>
                </select>
                <div class="form-control-feedback">
                  <i class="icon-cancel-square2"></i>
                </div>
              </div>

              <div class="form-group has-feedback has-feedback-left">
                <label>Added By</label>
                <input type="text" class="form-control input-xlg" value="<%= word.addedby %>" disabled="">
                <div class="form-control-feedback">
                  <i class="icon-user"></i>
                </div>
              </div>

            </fieldset>
          </div>
          <div class="modal-footer">
            <button class="btn btn-link" data-dismiss="modal"><i class="icon-cross"></i> Close</button>
            <button type="submit" class="btn btn-primary"><i class="icon-check"></i> Modify</button>
          </div>
        </form>
      </div>
    </div>
  </div>
