<div id="edit_<%= group.id %>" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">Editing "<b><%= group.name %>"</b></h5>
        </div>
        <div class="modal-body" style="overflow:hidden;">
          <form class="form-horizontal" method="post" action="/emu/staff/groups/update">
            <fieldset class="content-user">
              <div class="form-group has-feedback has-feedback-left">
                <label>Group Name</label>
                <input name="id" value="<%= group.id %>" type="hidden">
                <input name="name" value="<%= group.name %>" type="text" class="form-control input-xlg">
                <div class="form-control-feedback">
                  <i class="icon-vcard"></i>
                </div>
              </div>
              <div class="form-group has-feedback has-feedback-left">
                <label>Hidden</label>
                <select name="hidden" class="form-control input-xlg">
                  <% if (group.hidden == '1') { %>
                    <option id="1" selected="">True</option>
                    <option id="0">False</option>
                  <% } else { %>
                    <option id="1">True</option>
                    <option id="0" selected="">False</option>
                  <% } %>
                </select>
                <div class="form-control-feedback">
                  <i class="icon-video-camera-slash"></i>
                </div>
              </div>
              <div class="form-group has-feedback has-feedback-left">
                <label>Description</label>
                <textarea name="description" class="form-control input-xlg"><%= group.description %></textarea>
                <div class="form-control-feedback">
                  <i class="icon-book3"></i>
                </div>
              </div>
            </fieldset>
            <a href="/emu/staff/groups/view/<%= group.id %>" class="btn" style="float:right"><i class="icon-cog52"></i> Customize</a>
            <button type="submit" class="btn btn-info" style="float:right;margin-left:15px;"><i class="icon-check"></i> Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
