<% include ../../header %>
<style>
    .room>.icon {
        width: 34px;
        height:33px;
    }
</style>
<!--User Container-->
<div class="grid_24">
    <div class="profileBox">
        <div class="profileAvatar" style="background-image:url(https://www.habbo.de/habbo-imaging/avatarimage?figure=<%= profile.look %>&gesture=sml&size=l);">
            <% if (profile.rank > 1) { %>
                <div class="badge staff"></div>
            <% } %>
        </div>
        <div class="profileDetails">
            <div class="profileTitle"><b>Hey, I'm <%= profile.username %></b></div>
            <div class="profileMotto"><b>Motto:</b> <%= profile.motto %></div>
            <div class="profileLastLogin"><b>Last Login:</b> 05.01.2016 at 4:35 pm</div>
        </div>
        <div class="line"></div>
        <div class="friendship">
            <div class="title">Relationship Status</div>
            <% if (profile.relationships.length > 0) { %>
                <div class="statusBox">
                    <% profile.relationships.forEach (function (friend) { %>
                        <% if (friend.relation == 1) { %>
                            <div class="love"></div> <a href="/profile/<%= friend.other.username %>"><%= friend.other.username %></a>
                        <% } else if (friend.relation == 2) { %>
                            <div class="smiley"></div> <a href="/profile/<%= friend.other.username %>"><%= friend.other.username %></a>
                        <% } else { %>
                             <div class="skull"></div> <a href="/profile/<%= friend.other.username %>"><%= friend.other.username %></a>
                        <% } %>
                    <% }); %>
                </div>
            <% } %>
        </div>
        <div class="line" style="right:265px"></div>
        <% if (profile.id == user.id) { %>
            <div class="btn green addAsFriendButton">Customize Profile</div>
        <% } else { %>
            <div class="btn green addAsFriendButton">Post On Wall</div>
        <% } %>
    </div>
</div>

<!-- My Badges -->
<div class="grid_12">
    <img src="https://images.habbo.com/habbo-web/america/en/assets/images/teaser_profile_friends.92e78a5a.png">
    <div id="contentBox" style="margin-top:-2.5%;"> <div class="title"><%= profile.username %>'s Friends </div> </div>
    <% profile.friendships.slice(0, 10).forEach (function (friend) { %>
        <a id="friend_<%= friend.id %>" href="/profile/<%= friend.other.username %>">
            <img class="on" src="https://avatar-retro.com/habbo-imaging/avatarimage?figure=<%= friend.other.look %>">
            <img class="off" src="https://avatar-retro.com/habbo-imaging/avatarimage?figure=<%= friend.other.look %>&action=std,wav">
        </a>
        <style> .off, #friend_<%= friend.id %>:hover .on{ display:none } .on, #friend_<%= friend.id %>:hover .off{ display:block } </style>
    <% }); %>
</div>

<!-- Youtube Video -->
<div class="grid_10">
    <iframe style="border:none;" width="560" height="315" src="https://www.youtube.com/embed/<%= profile.profile.youtube %>?autoplay=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>

</div>
