<% include ../../header %>
<body data-spy="scroll" data-target=".sidebar-detached" class="has-detached-right">

<div class="container-detached">
  <div class="content-detached">
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h5 class="panel-title">Permission Groups</h5>
        <div class="heading-elements">
          <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
          </ul>
        </div>
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>
        <div class="panel-body">
          Permissions are used to do various functions within the administrative panel.  Be sure to configure the system
          precisely to what you want each rank to have access to.  Every rank must have it's own permissions defined,
          and ranks with an id higher than another will not have access to the lower's permissions.
        </div>
        <div class="table">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Members</th>
                <th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
              </tr>
            </thead>
            <tbody>
              <% groups.forEach(function (group) { %>
                <tr>
                  <td><%= group.id %></td>
                  <td><%= group.name %></td>
                  <td><%= group.desc %></td>
                  <td><%= group.members.length %></td>
                  <td class="text-center">
                    <ul class="icons-list">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a data-toggle="modal" data-target="#edit_group_<%- group.id %>"><i class="icon-pencil"></i> Quick Edit</a></li>
                          <li><a href="/admin/customize/groups/actions/trash/query/<%= group.id %>"><i class="icon-trash text-danger"></i> Trash Group</a></li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>


  <div class="sidebar-detached affix-top">
    <div class="sidebar sidebar-default">
      <div class="sidebar-content">
        <div class="sidebar-category no-margin">
          <div class="category-title">
            	<span>Management Tools</span>
              <i class="icon-menu7 pull-right"></i>
            </div>
            <div class="sidebar-category">
              <div class="category-content no-padding">
                <ul class="nav navigation">
                  <li class="navigation-header"> Links</li>
                  <li><a data-toggle="modal" data-target="#permissions"><i class="icon-list text-slate-400"></i> Detailed Permission List</a></li>
                  <li><a data-toggle="modal" data-target="#create_group"><i class="icon-lifebuoy text-slate-400"></i> Create Permission Group</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="create_group" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title"><i class="icon-menu7"></i> &nbsp;Group Creator</b></h5>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" method="post" action="/admin/customize/groups/actions/create">
                <fieldset class="content-group">
                  <legend class="text-bold">Basic Information</legend>
                  <div class="form-group">
                    <label class="control-label col-lg-2">Title</label>
                    <div class="col-lg-10">
                      <input type="text" name="name" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-2">Description</label>
                    <div class="col-lg-10">
                      <textarea name="desc" class="form-control" rows="5">A basic overview of what this group is for.</textarea>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="content-group">
                  <legend class="text-bold">Assigned Tokens</legend>

                </fieldset>
              </div>
              <div class="modal-footer">
                <button class="btn btn-link" data-dismiss="modal"><i class="icon-cross"></i> Close</button>
                <button class="btn btn-primary"><i class="icon-check"></i> Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div id="permissions" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              	<button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"><i class="icon-menu7"></i> &nbsp;Permission list</b></h5>
              </div>
              <div class="modal-body">
                <ul>
               </ul>
              </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-link" data-dismiss="modal"><i class="icon-cross"></i> Close</button>
          </div>
        </div>
      </div>
