<% include ../../header %>

<body data-spy="scroll" data-target=".sidebar-detached" class="has-detached-right">

<div class="container-detached">
    <div class="content-detached">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Administration Users</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                    </ul>
                </div>
                <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>
            <div class="panel-body">
                Users defined here will have access to the administration panel, and be considered as staff members.  It's important to
                use the grouping feature to ensure each one only has access to what their selective rank should to prevent abuse or
                mishandling in the future.
            </div>
            <div class="table">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Job Title</th>
                        <th>User Group</th>
                        <th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% users.forEach((member) => { %>
                      <tr>
                          <td><%= member.id %></td>
                          <td><%= member.username %></td>
                          <td><%= member.position %></td>
                          <td><%= member.group.name %></td>
                          <td class="text-center">
                              <ul class="icons-list">
                                  <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                      <ul class="dropdown-menu dropdown-menu-right">
                                          <li><a data-target="#edit_user<%= member.id %>" data-toggle="modal"><i class="icon-pencil"></i> Quick Edit</a></li>
                                          <li><a href="/admin/customize/review/query/<%= member.id %>"><i class="icon-check text-success"></i> Review Actions</a></li>
                                          <li><a href="/admin/customize/users/actions/reset/query/<%= member.id %>"><i class="icon-reset text-warning"></i> Reset Password</a></li>
                                          <li><a href="/admin/customize/users/actions/suspend/query/<%= member.id %>"><i class="icon-warning22 text-danger"></i> Suspend Access</a></li>
                                          <li><a href="/admin/customize/users/actions/trash/query/<%= member.id %>"><i class="icon-trash text-danger"></i> Trash Account</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </td>
                      </tr>
                      <% include modals/edit-user %>
                    <% }); %>

                    </tbody>
                </table>
            </div>
        </div>


        <div class="sidebar-detached affix-top">
            <div class="sidebar sidebar-default">
                <div class="sidebar-content">
                    <div class="sidebar-category no-margin">
                        <div class="category-title">
                            <span>Management Tools</span>
                        </div>
                        <div class="sidebar-category">
                            <div class="category-content no-padding">
                                <ul class="nav navigation">
                                    <li class="navigation-header"> Actions</li>
                                    <li><a data-toggle="modal" data-target="#create_user"><i class="icon-user-plus text-slate-400"></i> Create User</a></li>
                                    <li><a href="/admin/customize/groups"><i class="icon-users text-slate-400"></i> View Groups</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="create_user" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h5 class="modal-title"><i class="icon-menu7"></i> &nbsp;Creating New User</h5>
                </div>
                <div class="modal-body">
                  <form class="form-horizontal" method="post" action="/admin/customize/users/actions/create">
                    <fieldset class="content-user">
                      <legend class="text-bold">Basic Information</legend>

                      <div class="form-group has-feedback has-feedback-left">
                        <label>Identifier Nickname</label>
                        <input type="text" class="form-control input-xlg" name="username">
                        <div class="form-control-feedback">
                          <i class="icon-user"></i>
                        </div>
                      </div>

                      <div class="form-group has-feedback has-feedback-left">
                        <label>Administrative Group</label>
                        <select class="form-control input-xlg" name="permission_group">
                          <% groups.forEach((group) => { %>
                            <option value="<%= group.id %>"><%= group.name %></option>
                          <% }) %>
                        </select>
                        <div class="form-control-feedback">
                          <i class="icon-chess-king"></i>
                        </div>
                      </div>

                      <div class="form-group has-feedback has-feedback-left">
                        <label>Full Name</label>
                        <input type="text" class="form-control input-xlg" name="full_name">
                        <div class="form-control-feedback">
                          <i class="icon-profile"></i>
                        </div>
                      </div>

                      <div class="form-group has-feedback has-feedback-left">
                        <label>Personal Job Title</label>
                        <input type="text" class="form-control input-xlg" name="position">
                        <div class="form-control-feedback">
                          <i class="icon-collaboration"></i>
                        </div>
                      </div>

                    </fieldset>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-link" data-dismiss="modal"><i class="icon-cross"></i> Close</button>
          					<button type="submit" class="btn btn-primary"><i class="icon-check"></i> Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
