<% include ../../header %>
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h6 class="panel-title text-semibold"><%= article.title %></h6>
        </div>

        <ul class="nav nav-lg nav-tabs nav-tabs-bottom nav-tabs-toolbar no-margin">
            <li class="active"><a href="#overview" data-toggle="tab"><i class="icon-menu7 position-left"></i> Overview</a> </li>
            <li><a href="#editor" data-toggle="tab"><i class="icon-pencil position-left"></i> Editor</a> </li>
            <li> <a href="/hotel/news/delete/<%= article.id %>"><i class="icon-trash position-left"></i> Delete </a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="overview">
                <div class="panel-body">
                    <div class="content-group-lg">
                        <%- article.content %>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="editor">
              <div class="panel-body">
                <form method="post" action="/hotel/news/update">
                  <input name="id" value="<%= article.id %>" type="hidden">
                  <div class="form-group form-group-material">
										<label class="control-label animate">Title</label>
										<input name="title" value="<%= article.title %>" type="text" class="form-control">
									</div>
                  <div class="form-group form-group-material">
                    <label class="control-label animate">Image Link</label>
                    <input name="image" value="<%= article.image %>" type="text" class="form-control">
                  </div>
                  <div class="form-group form-group-material">
                    <label class="control-label animate">Content</label>
                    <textarea name="content" class="form-control"><%- article.content %></textarea>
                  </div>
                  <div class="form-group form-group-material">
                    <input type="submit" class="btn" value="Save Changes">
                  </div>
                </form>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel">
      <div class="panel-heading">
          <h6 class="panel-title text-semibold">Author</h6>
          <ul class="media-list">
            <li class="media">
              <a href="#" class="media-left">
                <img src="https://www.habbo.com.br/habbo-imaging/avatarimage?headonly=1&figure=<%= article.author.look %>" class="img-sm img-circle">
              </a>
              <div class="media-body">
                <a href="#"><%= article.author.username %> <small>(<%= article.author.rank.name %>)</small></a>
                <span class="text-size-small text-muted display-block"><%= article.author.articles.length %> Posts</span>
              </div>

              <div class="media-right media-middle">
                <ul class="icons-list text-nowrap">
                  <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-more2"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#"><i class="icon-comment-discussion pull-right"></i> Ask question</a></li>
                      <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a call</a></li>
                      <li class="divider"></li>
                      <li><a href="#"><i class="icon-stars pull-right"></i> Rate trainer</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>

<script src="//cdn.ckeditor.com/4.6.2/full/ckeditor.js"></script><script>
  CKEDITOR.replace('content', {
    height: 700,
  } );
</script>
