<% include ../../header %>
<div class="sidebar-detached">
    <div class="sidebar sidebar-default sidebar-separate">
        <div class="sidebar-content">
            <div class="content-group">
                <div class="panel-body bg-indigo-400 border-radius-top text-center" style="background-image: url(http://demo.interface.club/limitless/assets/images/bg.png); background-size: contain;">
                    <div class="content-group-sm">
                        <h6 class="text-semibold no-margin-bottom">
												<%= group.name %>
											</h6>
                      <% if (group.id > 1) { %>
                        <span class="display-block"><%= group.members.length %> Members</span>
                      <% } else { %>
                        <span class="display-block">Infinite Members</span>
                      <% } %>
                    </div>

                    <div class="display-inline-block content-group-sm">
                      <i class="icon-crown" style="font-size:42px;"></i>
                    </div>
                </div>

                <div class="panel no-border-top no-border-radius-top">
                    <ul class="navigation">
                        <li class="navigation-header">Navigation</li>
                        <li class="active"><a data-target="#overview" data-toggle="tab"><i class="icon-clipboard6"></i> Overview</a></li>
                        <li><a data-target="#members" data-toggle="tab"><i class="icon-users"></i> Members</a></li>
                        <li><a data-target="#permissions" data-toggle="tab"><i class="icon-hammer2"></i> Permissions</a></li>
                        <li><a data-target="#delete" data-toggle="tab"><i class="icon-warning22"></i> Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-detached">
  <div class="tab-content">
    <!-- Overview -->
    <div class="tab-pane fade active in" id="overview">
      <div class="panel">
        <div class="panel-body">
          <h5 class="content-group">
            <span class="label label-flat label-rounded label-icon border-grey text-grey mr-10"> <i class="icon-info22"></i> </span>
            Quick Overview
          </h5>
          <form class="form-horizontal" method="post" action="/emu/staff/groups/update">
            <fieldset class="content-user">
              <div class="form-group has-feedback has-feedback-left">
                <label>Group Name</label>
                <input name="id" value="<%= group.id %>" type="hidden">
                <input name="name" value="<%= group.name %>" type="text" class="form-control input-xlg">
                <div class="form-control-feedback">
                  <i class="icon-vcard"></i>
                </div>
              </div>
              <div class="form-group has-feedback has-feedback-left">
                <label>Hidden</label>
                <select name="hidden" class="form-control input-xlg">
                  <% if (group.hidden == '1') { %>
                    <option id="1" selected="">True</option>
                    <option id="0">False</option>
                  <% } else { %>
                    <option id="1">True</option>
                    <option id="0" selected="">False</option>
                  <% } %>
                </select>
                <div class="form-control-feedback">
                  <i class="icon-video-camera-slash"></i>
                </div>
              </div>
              <div class="form-group has-feedback has-feedback-left">
                <label>Description</label>
                <textarea name="description" class="form-control input-xlg"><%= group.description %></textarea>
                <div class="form-control-feedback">
                  <i class="icon-book3"></i>
                </div>
              </div>
            </fieldset>
            <button type="submit" class="btn btn-info" style="float:right;margin-left:15px;"><i class="icon-check"></i> Save</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Members -->
    <div class="tab-pane fade" id="members">
      <div class="panel">
        <div class="panel-body">
          <h5 class="content-group">
            <span class="label label-flat label-rounded label-icon border-grey text-grey mr-10"> <i class="icon-users"></i> </span>
            Member Directory
          </h5>
          <% if (group.id > 1) { %>
              <ul class="list-inline list-inline-condensed no-margin-bottom mt-15">
                <% group.members.forEach(member => { %>
                  <li><a data-target="#member_<%= member.id %>" data-toggle="modal" data-popup="tooltip" data-original-title="<%= member.username %>"><img src="https://www.habbo.com.br/habbo-imaging/avatarimage?headonly=1&figure=<%= member.look %>" class="img-circle img-s" alt=""></a></li>
                  <% include modals/edit_member %>
                <% }) %>
                <li><a data-target="#add_member" data-toggle="modal" data-popup="tooltip" data-original-title="Add User"><span class="btn btn-xs btn-icon btn-flat btn-rounded border-grey text-grey"><i class="icon-plus22"></i></span></li></a>
              </ul>
          <% } else { %>
            <div class="alert bg-teal">
              <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
              <span class="text-semibold">Surprise!</span> You cannot view users in the default group.
            </div>
          <% } %>
        </div>
      </div>
    </div>

    <!-- Permissions -->
    <div class="tab-pane fade" id="permissions">
      <div class="panel">
        <div class="panel-body">
          <h5 class="content-group">
            <span class="label label-flat label-rounded label-icon border-grey text-grey mr-10"> <i class="icon-eye4"></i> </span>
            Permission Management
          </h5>
          <% group.rights.forEach(right => { %>
            <% if (right.p.id != null) { %>
              <a data-target="#permission_<%= right.id %>" data-toggle="modal">
                <div style="margin-right:15px;display:inline;">
                  <span class="tag label label-info" data-popup="tooltip" data-original-title="<%= right.p.description %>" style="width:200px;">
                    <%= right.p.permission %>
                  </span>
                </div>
              </a>
              <% include modals/edit_permission %>
            <% } %>
          <% }) %>
          <br><br><button data-target="#add_right" data-toggle="modal" class="btn btn-info" style="clear:both;float:right;">Add Rights</button>
        </div>
      </div>
    </div>

    <!-- Delete -->
    <div class="tab-pane fade" id="delete">
      <div class="panel panel-body">
          <div class="media no-margin stack-media-on-mobile">
              <div class="media-left media-middle">
                  <i class="icon-warning22 icon-3x text-muted no-edge-top"></i>
              </div>

              <div class="media-body">
                  <h6 class="media-heading text-semibold">Permanently Delete Group</h6>
                  <span class="text-muted">This action cannot be undone, and all users within this group will be reclassed as an user.</span>
              </div>

              <div class="media-right media-middle">
                  <a href="/emu/staff/groups/delete/<%= group.id %>" class="btn btn-primary">Delete</a>
              </div>
          </div>
      </div>
    </div>



  </div>
</div>

<div id="add_member" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add User To <%= group.name %></h5>
      </div>
      <div class="modal-body" style="overflow:hidden;padding-top:10%">
        <form class="form-horizontal" method="post" action="/emu/staff/groups/users/create">
          <div class="form-group has-feedback has-feedback-left">
            <input name="rank" value="<%= group.id %>" type="hidden">
            <input name="fancy_name" value="<%= group.name %>" type="hidden">
            <input name="username" placeholder="Username" type="text" class="form-control input-xlg">
            <div class="form-control-feedback">
              <i class="icon-vcard"></i>
            </div>
          </div>
          <button type="submit" class="btn btn-info" style="float:right;margin-left:15px;"><i class="icon-check"></i> Add User</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="add_right" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Grant Rights</h5>
      </div>
      <div class="modal-body" style="overflow:hidden;padding-top:10%">
        <form class="form-horizontal" method="post" action="/emu/staff/groups/permissions/create">
          <div class="form-group has-feedback has-feedback-left">
            <label class="label-control">Group Template</label>
            <input name="group_id" value="<%= group.id %>" type="hidden">
            <select name="template" class="form-control input-xlg">
              <option value="0" selected="">None</option>
              <% groups.forEach(g => { %>
                <option value="<%= g.id %>"><%= g.name %></option>
              <% }) %>
            </select>
            <div class="form-control-feedback">
              <i class="icon-shield2"></i>
            </div>
          </div>
          <div class="form-group has-feedback has-feedback-left">
            <label class="label-control">Certain Privilege</label>
            <select name="permission" class="form-control input-xlg">
              <% permissions.forEach(perm => { %>
                <option id="<%= perm.id %>"><%= perm.permission %></option>
              <% }) %>
            </select>
            <div class="form-control-feedback">
              <i class="icon-crown"></i>
            </div>
          </div>
          <button type="submit" class="btn btn-info" style="float:right;margin-left:15px;"><i class="icon-check"></i> Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
