<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="<%= website.web_folder %>/img/favicon.ico">
        <title><%= website.name %> - <%= page %></title>
        <link type="text/css" href="<%= website.web_folder %>/css/960_24_col.css" rel="stylesheet">
        <link type="text/css" href="<%= website.web_folder %>/css/style.css" rel="stylesheet">
        <style>
            #header-content {
                height: 220px;
            }
            #header-content #header-navigation {
                top: 180px;
            }
            #header-content .hotel {
                height: 220px;
            }
        </style>
    </head>
    <body>
    <div id="header-content">
        <div class="container_24">
            <div class="grid_24">
                <div class="headerSubLinks">
                    <a href="/logout">Log Out</a>
                </div>
                <div class="hotel"></div>
                <a href=""><div class="logo"></div></a>
                <div id="onlineCount">
                    <div class="arrow"></div>
                    <b><%= server.users_online %></b> Players online
                </div>

                <ul id="header-navigation">

                    <% navi.parents.forEach (function (n) { %>
                        <% if (n.id == section) { %>
                            <li><a href="/<%= n.href %>" class="selected"><%= n.text %></a></li>
                        <% } else { %>
                            <li><a href="/<%= n.href %>"><%= n.text %></a></li>
                        <% } %>
                    <% }); %>


                    <% if (user.rank > 2) { %>
                        <li><a href="http://admin.habbo.social">Admin</a></li>
                    <% } %>

                </ul>
            </div>
        </div>
    </div>
    <div class="container_24">
        <div class="grid_24">
            <ul id="sub-navigation">
                <% navi.children.forEach (function (n) { %>
                    <% if (n.section == section) { %>
                        <% if (n.href == href) { %>
                            <li><a href="/<%= n.href %>" class="selected"><%= n.text %></a></li>
                        <% } else { %>
                            <li><a href="/<%= n.href %>"><%= n.text %></a></li>
                        <% } %>
                    <% } %>
                <% }); %>
            </ul>
        </div>
    </div>
    <div class="container_24">
        <div class="grid_24">
            <% if (success.length > 0) { %>
                <div class="alert green"><div class="icon success"><i class="fa fa-check fa-2x"></i></div><%= success %></div>
            <% } else if (error.length > 0) { %>
                <div class="alert red"><div class="icon error"><i class="fa fa-warning fa-2x"></i></div> <%= error %></div>
            <% } %>
        </div>

        <div class="grid_24">